<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Test</title>
</head>
<body>
    <!-- ajax 부분 -->
    <br><br>
    <div id="ajaxtest"></div>
    <input type="text" id="ajaxddd" name="ajaxddd">
    <input type="text" id="ajaxttt" name="ajaxttt">
    <button onclick="ajaxReq()">차트 그리기 비동기 요청</button>
    <script type="text/javascript">
		function ajaxReq() {
		  var xhttp = new XMLHttpRequest();

          // "/testing" 라우터로 넘김, 2개의 값을 "/"로 구분하여 보냄
          url = "testing/"+document.getElementById('ajaxddd').value + "/" + document.getElementById('ajaxttt').value
		  xhttp.open("GET", url, true); //true : 비동기
		  xhttp.send();

          // 서버에서 값 받아오는 함수 => xhttp.send() 이후에 자동 실행됨
		  xhttp.onreadystatechange = function() {
			 if (this.readyState == 4 && this.status == 200) {
		    	var val = this.responseText  //responseText가 데이터!!
		    	alert(val)
		    	document.getElementById('ajaxddd').value = JSON.parse(val)["status"]; // 값 넣는 부분
		    }
		  };
		}
	</script>
</body>
</html>