<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>게시판</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/freelancer.min.css" rel="stylesheet">

  <!-- 셀렉트 제어 -->
  <script language = "javascript">
    //상위 셀렉트로 하위 셀렉트 제어하기
    function showSub(obj) {

        f = document.forms[0];

        if(obj == {{ month[0] }}) {

            f.day.style.display = "";
            f.day_next.style.display = "none";

        } else {

            f.day.style.display = "none";
            f.day_next.style.display = "";

         }
    }
  </script>
  </head>
  <style>
    #bor{
      text-align:center;
      height:20px;
      font-size:40px;
    }
    div.onboard{
    background-color: #d4d4d4}
    
    .w3-image {-webkit-filter: opacity(200%);}
    
    #box1 { text-align: center; } /* 게시판 글씨 중간 위치 */
    
    
    /* <header class="w3-display-container w3-content w3-center"
    		style="max-width: 1000px"> */
    
    .board{font-family: 'Jua', sans-serif;}
    
    table.type09 {
    	border-collapse: collapse;
    	text-align: left;
    	line-height: 1.5;
    }
    
    table.type09 thead th {
    	padding: 10px;
    	font-weight: bold;
    	vertical-align: top;
    	color: #369;
    	border-bottom: 3px solid #036;
    }
    
    table.type09 tbody th {
    	width: 150px;
    	padding: 10px;
    	font-weight: bold;
    	vertical-align: top;
    	border-bottom: 1px solid #ccc;
    	background: #d4d4d4;
    }
    
    table.type09 td {
    	width: 350px;
    	padding: 10px;
    	vertical-align: top;
    	border-bottom: 1px solid #ccc;
    }
    
    .button {
      display: inline-block;
      border-radius: 4px;
      background-color: #d4d4d4;
      border: none;
      color: #black;
      text-align: center;
      font-size: 20px;
      padding: 10px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      
    }
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .button span:after {
    content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/
    position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .button:hover span {
      padding-right: 25px;
    }
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    
    body, h1, h2, h3, h4, h5, h6 {
    	font-family: "Raleway", sans-serif
    }
    
    body, html {
    	height: 100%;
    	line-height: 1.8;
    }
    /* Full height image header */
    .bgimg-1 {
    	background-position: center;
    	background-size: cover;
    	background-image: url("img/bg2.png");
    	min-height: 100%;
    }
  </style>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">눈치싸움 대작전</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#portfolio">Hot Place</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#contact">Attraction</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/predict">예상혼잡도</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/board/1">게시판</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br><br><br>
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">예상 혼잡도</h2>
        <hr class="star-dark mb-5">
 <!--     </div>-->
	<!--<div id ="toppadding"></div>-->
	<!--    <div class="container">-->
          <div class="form-group row">
            <label for="month" class="col-sm-2 col-form-label"><h4>날짜</h4></label>
            <div class="col-sm-10" style="text-align:left">
              <form name="select_month">
                {% if danger == True %}
                  <!-- 상위 셀렉트 -->
                  <select class="custom-select" id="month" name="month" style="width:20%" onChange="showSub(this.options[this.selectedIndex].value);">
                  <!--<select id="month" name="month" onChange="showSub(this.options[this.selectedIndex].value);">-->
                    {% for m in month %}
                      <option value="{{ m }}">{{ m }}
                    {% endfor %}
                  </select>&emsp;월&emsp;
                  <!-- 하위 셀렉트 1 -->
                  <select class="custom-select" id="day" name="day" style="display: ; width:20%;">
                  <!--<select id="day" name="day" style="display: ;">-->
                    {% for d in day %}
                      <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                   </select>
                  <!-- 하위 셀렉트 2 -->
                  <select class="custom-select" id="day_next" name="day_next" style="display: none; width:20%;">
                  <!--<select id="day_next" name="day_next" style="display: none;">-->
                    {% for dn in day_next %}
                      <option value="{{ dn }}">{{ dn }}</option>
                    {% endfor %}
                  </select>&emsp;일
                {% else %}
                  <select class="custom-select" id="month" name="month" style="width:20%" onChange="showSub(this.options[this.selectedIndex].value);">
                  <!--<select id="month" name="month" onChange="showSub(this.options[this.selectedIndex].value);">-->
                      <option value="{{ month[0] }}">{{ month[0] }}
                  </select>월&emsp;
                  <!-- 하위 셀렉트 1 -->
                  <select class="custom-select" id="day" name="day" style="display: ; width:20%;">
                  <!--<select id="day" name="day" style="display: ;">-->
                    {% for d in day %}
                      <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                  </select>
                  <!-- 하위 셀렉트 2 -->
                  <select class="custom-select" id="day_next" name="day_next" style="display: none; width:20%;">
                  <!--<select id="day_next" name="day_next" style="display: none;">-->
                    {% for dn in day_next %}
                      <option value="{{ dn }}">{{ dn }}</option>
                    {% endfor %}
                  </select>일
                {% endif %}
              </form>
            </div>
          </div>
          <div class="form-group row">
            <label for="place" class="col-sm-2 col-form-label"><h4>장소</h4></label>
            <div class="col-sm-10" style="text-align:left">
              <select id="place" name="place" class="custom-select" style="width:50%;">
                <option value="롯데월드">롯데월드</option>
                <option value="어린이대공원">어린이대공원</option>
                <option value="남산">남산</option>
                <option value="덕수궁">덕수궁</option>
                <option value="경복궁">경복궁</option>
                <option value="북촌한옥마을">북촌한옥마을</option>
              </select>
            </div>
          </div>          
          <div class="form-group row" style="text-align:center">
            <!--<label for="place" class="col-sm-2 col-form-label"><h4>장소</h4></label>-->
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton" onclick="ajaxReq()">예상!!</button>
            </div>
          </div>   
      </div>

		<!--<div>-->
        <!--<form method="post" action="/prediction"> &lt;!&ndash; 서버로 데이터 넘기는 form &ndash;&gt;-->
		<!--<table align="center">-->
		<!--	<tr><th align ="left">&emsp;날짜&emsp; </th>-->
		<!--		<td>-->
  <!--        <form name="select_month">-->
  <!--          {% if danger == True %}-->
              <!-- 상위 셀렉트 -->
  <!--            <select class="custom-select" id="month" name="month" style="width:40%" onChange="showSub(this.options[this.selectedIndex].value);">-->
              <!--<select id="month" name="month" onChange="showSub(this.options[this.selectedIndex].value);">-->
  <!--              {% for m in month %}-->
  <!--                <option value="{{ m }}">{{ m }}-->
  <!--              {% endfor %}-->
  <!--            </select>월&emsp;-->
              <!-- 하위 셀렉트 1 -->
  <!--            <select class="custom-select" id="day" name="day" style="display: ; width:40%;">-->
              <!--<select id="day" name="day" style="display: ;">-->
  <!--              {% for d in day %}-->
  <!--                <option value="{{ d }}">{{ d }}</option>-->
  <!--              {% endfor %}-->
  <!--             </select>-->
              <!-- 하위 셀렉트 2 -->
  <!--            <select class="custom-select" id="day_next" name="day_next" style="display: none; width:40%;">-->
              <!--<select id="day_next" name="day_next" style="display: none;">-->
  <!--              {% for dn in day_next %}-->
  <!--                <option value="{{ dn }}">{{ dn }}</option>-->
  <!--              {% endfor %}-->
  <!--            </select>일-->
  <!--          {% else %}-->
  <!--            <select class="custom-select" id="month" name="month" style="width:40%" onChange="showSub(this.options[this.selectedIndex].value);">-->
              <!--<select id="month" name="month" onChange="showSub(this.options[this.selectedIndex].value);">-->
  <!--                <option value="{{ month[0] }}">{{ month[0] }}-->
  <!--            </select>월&emsp;-->
              <!-- 하위 셀렉트 1 -->
  <!--            <select class="custom-select" id="day" name="day" style="display: ; width:40%;">-->
              <!--<select id="day" name="day" style="display: ;">-->
  <!--              {% for d in day %}-->
  <!--                <option value="{{ d }}">{{ d }}</option>-->
  <!--              {% endfor %}-->
  <!--            </select>-->
              <!-- 하위 셀렉트 2 -->
  <!--            <select class="custom-select" id="day_next" name="day_next" style="display: none; width:40%;">-->
              <!--<select id="day_next" name="day_next" style="display: none;">-->
  <!--              {% for dn in day_next %}-->
  <!--                <option value="{{ dn }}">{{ dn }}</option>-->
  <!--              {% endfor %}-->
  <!--            </select>일-->
  <!--          {% endif %}-->
  <!--        </form>-->
  <!--      </td>-->
  <!--    </tr>-->
		<!--	<tr><th align="left">&emsp;장소&emsp; </th>-->
		<!--		<td>-->
  <!--        <select id="place" name="place">-->
  <!--          <option value="롯데월드">롯데월드</option>-->
  <!--          <option value="어린이대공원">어린이대공원</option>-->
  <!--          <option value="남산">남산</option>-->
  <!--          <option value="덕수궁">덕수궁</option>-->
  <!--          <option value="경복궁">경복궁</option>-->
  <!--          <option value="북촌한옥마을">북촌한옥마을</option>-->
  <!--        </select>-->
  <!--      </td>-->
  <!--    </tr>-->
		<!--	<tr>-->
  <!--      <td colspan="2" align="center">-->
  <!--        <br>-->
  <!--        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton" onclick="ajaxReq()">예상!!</button>-->
  <!--      </td>-->
  <!--    </tr>-->
  <!--    <tr>-->
  <!--      <td colspan="2" align="center">-->
  <!--        <br>-->
          <!--<input id="result" >-->
  <!--        <div id="result"></div>-->
  <!--      </td>-->
  <!--    </tr>-->
		<!--</table>-->
        <!--</form>-->
		<!--</div>-->
    </section>
    
    <!-- Ajax javascript -->
    <script type="text/javascript">
  		function ajaxReq() {
  		  var xhttp = new XMLHttpRequest();
  
        // "/testing" 라우터로 넘김, 2개의 값을 "/"로 구분하여 보냄
        var url = "testing/"+document.getElementById('month').value + "/" + document.getElementById('day').value
        url = url + "/" + document.getElementById('day_next').value + "/" + document.getElementById('place').value
  		  xhttp.open("GET", url, true); //true : 비동기
  		  xhttp.send();
  
          // 서버에서 값 받아오는 함수 => xhttp.send() 이후에 자동 실행됨
    	   xhttp.onreadystatechange = function() {
      		 if (this.readyState == 4 && this.status == 200) {
      	    	var val = this.responseText  //responseText가 데이터!!
      	    	alert(val)
      	    	//document.getElementById('result').value = JSON.parse(val)["status"]; // input 태그에 값 넣기
      	    	document.getElementById('result').innerHTML = JSON.parse(val)["status"]; // div에 값 넣기
      	    }
    	   };
	  	}
  	</script>



    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">문의/피드백</h4>
            <p class="lead mb-0">
              sjy115@naver.com<br>
              sy55n789@naver.com<br>
              hyunsung1021@gmail.com<br>
            </p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">친구들과 공유하기</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://plus.google.com/">
                  <i class="fab fa-fw fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.instagram.com/">
                  <i class="fab fa-fw fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://line.me/">
                  <i class="fab fa-line"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">made by 다섯 명</h4>
            <p class="lead mb-0">서지완 김승윤 김현성 <br> 안지현&nbsp; 최나해 <br></p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; 2018 눈치싸움대작전 </small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/freelancer.min.js"></script>

  </body>

</html>
